$white: #fff;
$light: #f8f9fa;
$dark: #090e24;
$deep: #373E59;
$secondary: #838caf;
$primary: #769bf2;
$accent: #15ca82;
$danger: #d04;
//$soft: #f0f2f5;
$soft: #E0E3EB;

$body-bg: $light;
$body-color: $dark;
//$font-family-sans-serif: 'Roboto';
$font-family-sans-serif: 'Rubik';
//$font-weight-base: 300;

$headings-font-family: 'Red Hat Display';
$headings-font-weight: 800;

// Custom responsive font sizes
$min-font-size: 6px;
$font-step: 2px;

$custom-font-sizes: (
        0: $min-font-size + ($font-step * 0),
        1: $min-font-size + ($font-step * 1),
        2: $min-font-size + ($font-step * 2),
        3: $min-font-size + ($font-step * 3),
        4: $min-font-size + ($font-step * 4),
        5: $min-font-size + ($font-step * 5),
        6: $min-font-size + ($font-step * 6),
        7: $min-font-size + ($font-step * 7),
        8: $min-font-size + ($font-step * 8),
        9: $min-font-size + ($font-step * 9),
        10: $min-font-size + ($font-step * 10),
        11: $min-font-size + ($font-step * 11),
        12: $min-font-size + ($font-step * 12),
        13: $min-font-size + ($font-step * 13),
        14: $min-font-size + ($font-step * 14),
        15: $min-font-size + ($font-step * 15),
        16: $min-font-size + ($font-step * 16),
        17: $min-font-size + ($font-step * 17),
        18: $min-font-size + ($font-step * 18),
        19: $min-font-size + ($font-step * 19),
        20: $min-font-size + ($font-step * 20),
        21: $min-font-size + ($font-step * 21),
        22: $min-font-size + ($font-step * 22),
        23: $min-font-size + ($font-step * 23),
        24: $min-font-size + ($font-step * 24)
);



// LearnVue
.text-gradient {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(30deg,#769bf2,#15ca82);
    -webkit-background-clip: text;
    display: inline-block;
    position: relative;
}

// Vite
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
    --vp-home-hero-image-background-image: linear-gradient( -45deg, #bd34fe 50%, #47caff 50% );
    --vp-home-hero-image-filter: blur(40px);
}
